<h1 align="center">All Alpha Bloggers</h1>

<div class="row justify-content-center">
    <%= will_paginate %>
</div>

<%= @users.each do |user| %>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <%= link_to gravatar_for(user), user_path(user) %><br>
            <div class="card">
                <div class="card-header">
                    <%= link_to user.username, user_path(user) %>
                </div>
                <div class="card-body text-center">
                    <small><%= pluralize(user.articles.count, "article") if user.articles %></small><br>
                    <% if logged_in? and current_user.admin? %>
                        <%= link_to "Delete this user", user_path(user), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure you want to delete the user and all their articles?" } %>
                    <% end %>
                </div>  
            </div>
        </div>
    </div>
    <br>
 <% end %>

 <div class="row justify-content-center">
    <%= will_paginate %>
</div>